{% extends "_body.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
    <h1>Log in</h1>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="login">Login</label>
            <input class="form-control" id="login" type="text" placeholder="Login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" type="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Log in</button>
    </form>

    <p class="create-new-account">
        <a href="{% url 'signup' %}">create new account</a>
    </p>
{% endblock %}
