{% extends "_body.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Settings {{ current_user.name }}</h1>

    <form method="post" action="{% url 'settings' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="login">Login</label>
            <input class="form-control" id="login" type="text" placeholder="Login" value="{{ current_user.login }}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email" value="{{ current_user.email }}">
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input class="form-control" id="nickname" type="test" placeholder="Nickname" value="{{ current_user.nickname }}">
        </div>
        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar">
        </div>
        <button type="submit" class="btn btn-default">Save</button>
    </form>
{% endblock %}
