.navbar-brand-bigger {
    padding-top: 19px;
    padding-bottom: 19px;
}

.navbar-form-bigger {
    margin-top: 12px;
    margin-bottom: 12px;
}

.navbar-btn-bigger {
    margin-top: 12px;
    margin-bottom: 12px;
}


.profile-menu {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.profile-menu__image {
    height: 34px;
    position: absolute;
    top: 4px;
    left: -40px;
}

.profile-menu__name {
    margin: 0;
}

.profile-menu__link {
    cursor: pointer;
}


.title-with-link-on-side {
    display: inline-block;
    margin-right: 16px;
}

.title-link {
    font-size: 150%;
}


.question-list {
    margin-top: 1em;
}

.question__image {
    width: 100%;
}

.question__rating {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

.question__rating-btn {
    cursor: pointer;
}

.question__rating-btn--down:hover {
    color: red;
}

.question__rating-btn--up:hover {
    color: green;
}

.question__title {
    margin-top: 0;
}

.question__text {
    font-size: 125%;
}

.question__meta {
    font-size: 125%;
}

.question__answer-btn {
    margin-right: 15px;
}


.comment-list-delimiter {
    margin-top: 2em;
    margin-bottom: 2em;
}

.comment-list {
    margin-top: 1em;
}

.comment {
    font-size: 95%;
}

.comment__image {
    width: 100%;
}

.comment__rating {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

.comment__rating-btn {
    cursor: pointer;
}

.comment__rating-btn--down:hover {
    color: red;
}

.comment__rating-btn--up:hover {
    color: green;
}

.comment__text {
    font-size: 125%;
}

.comment__meta {
}

.comment__answer-btn {
    margin-right: 15px;
}


.create-new-account {
    margin-top: 1em;
}


.page-footer {
    margin-top: 2em;
    margin-bottom: 2em;
}